html, body {
  margin: 0px;
  padding: 0px;
}

body{
  background-color: #6277B1;
}

.row {
  margin: 0px;
  padding: 0px;
  height: 100%;
}

.col-sm-3 {
  margin: 0;
  padding: 20px;
}

.col-sm-2 {
  margin: 0;
  padding: 20px;
}

.col-sm-7 {
  margin: 0;
  padding: 20px;
}

/* Row 1 Column 1 */

#locationBox {
  position: relative;
  width: 100%;
  overflow: hidden;
  background: #8C99BD;
  border-radius: 40px;
  color: white;
  margin-bottom: 20px;
  font-size: 30px;
}

#locationBox img {
  width: 20%;
  height: auto;
  padding: 5%;
}

#statisticalValue {
  position: relative;
  width: 100%;
  height: 80%;
  padding-top: 10%;
  padding-bottom: 10%;
  overflow: hidden;
  background: #8C99BD;
  border-radius: 40px;
  color: white;
  text-align: center;
}

#statisticalValue span {
  padding: 50px;
  font-size: 30px;
}
#statisticalValue img {
  display: block;
  margin: auto;
  height: 75%;
  width: 75%;
  padding-top: 10%;
  padding-bottom: 10%;
}

/* Row 1 Column 2 */

#temperature {
  padding-top: 30%;
  color: #FFFFFF;
  font-size: 90px;
  font-weight: bold;
  text-align: center;
}

#weatherType img {
  display: block;
  margin: auto;
  height: 55%;
  width: 55%;
  padding-top: 25%;
  padding-bottom: 35%;
}

#windSpeed {
  color: #FFFFFF;
  font-size: 35px;
  text-align: center;
}

/* Row 1 Column 3 */

.col-sm-6 {
  margin: 0px;
  padding: 0px;
}

#largeBox {
  position: relative;
  width: 100%;
  height: 95%;
  overflow: hidden;
  background: #8C99BD;
  border-radius: 40px;
  color: white;
  margin-bottom: 20px;
  font-size: 30px;
}
