html, body {
  margin: 0px;
  padding: 0px;
  width: 100%;
}

body{
  background-color: #6277B1;
}

.row {
  margin: 0px;
  padding: 0px;
}


/* Row 1 Column 1 */
.col-sm-3 {
  margin: 0;
  padding: 20px;
}

#locationBox {
  position: relative;
  width: 100%;
  overflow: hidden;
  background: #8C99BD;
  border-radius: 40px;
  color: white;
  margin-bottom: 20px;
  font-size: 30px;
}

#locationBox img {
  width: 20%;
  height: auto;
  padding: 5%;
}

#statisticalValue {
  position: relative;
  width: 100%;
  height: 80%;
  padding-top: 10%;
  padding-bottom: 10%;
  overflow: hidden;
  background: #8C99BD;
  border-radius: 40px;
  color: white;
  text-align: center;
  font-weight: bold;
}

#statisticalValue span {
  padding: 0px;
  font-size: 30px;
  text-align: center;
}

#disclaimer {
  font-size: 20px;
  padding-top: 5px;
}

#statisticalValue img {
  display: block;
  margin: auto;
  height: 60%;
  width: 60%;
  padding-top: 10%;
  padding-bottom: 10%;
}

/* Row 1 Column 2 */
.col-sm-2 {
  margin: 0;
  padding: 20px;
}

#temperature {
  padding-top: 30%;
  color: #FFFFFF;
  font-size: 90px;
  font-weight: bold;
  text-align: center;
}

#weatherType img {
  display: block;
  margin: auto;
  height: 55%;
  width: 55%;
  padding-top: 25%;
  padding-bottom: 35%;
}

#windSpeed {
  color: #FFFFFF;
  font-size: 35px;
  text-align: center;
}

/* Row 1 Column 3 */
.col-sm-7 {
  margin: 0;
  padding: 20px;
}

#largeBox {
  position: relative;
  width: 100%;
  height: 97.5%;
  overflow: hidden;
  background: #8C99BD;
  border-radius: 40px;
  color: white;
  margin-bottom: 20px;
  font-size: 30px;
}

#largeBox img {
  width: 30%;
  height: auto;
  padding:5%;
}

#largeBox span {
  padding: 5%;
  margin-left: 5%;
  margin-right: 5%;
}

p {
  padding: 5%;
}

/* Row Two */

#twelvehourForecast {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #8C99BD;
  border-radius: 40px;
  color: white;
  margin-top: 3%;
  margin-bottom: 20px;
  font-size: 30px;
}

div.scrollmenu {
  background-color: #8C99BD;
  overflow: auto;
  white-space: nowrap;
  height: 100%
}
div.scrollmenu div {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

.hourtime {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
}

.temp {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
}

#currentTimeplusOne {
  margin-left: 50px;
}

#currentTimeplusTwo {
  margin-left: 50px;
}

#currentTimeplusThree {
  margin-left: 50px;
}

#currentTimeplusFour {
  margin-left: 50px;
}

#currentTimeplusFive {
  margin-left: 50px;
}

#currentTimeplusSix {
  margin-left: 50px;
}

#currentTimeplusSeven {
  margin-left: 50px;
}

#currentTimeplusEight {
  margin-left: 50px;
}

#currentTimeplusNine {
  margin-left: 50px;
}

#currentTimeplusTen {
  margin-left: 50px;
}

#currentTimeplusEleven {
  margin-left: 50px;
}

#currentTimeplusTwelve {
  margin-left: 50px;
}

/* Selection Menu */

#selection {
  padding: 5%;
}

.something {
  width: 100%
}

.heightAdjuster {
  margin-top: 10%;
  margin-bottom: 8%;
}

#question {
  font-size: 60px;
  color: #FFFFFF;
  text-align: center;
  font-weight:bold;
  margin-bottom: 20px;
}

#question #assurance {
  font-size: 30px;
  color: #FFFFFF;
  text-align: center;
  font-weight:bold;
  margin-bottom: 20px;
}

form {
  margin-left: 0;
  margin-right: auto;
  display: block;
  height: 15%;
  width: 15%;
}

input {
  width: 150px;
  height: 150px;
}

.Description {
  color: #FFFFFF;
  text-align: center;
  font-weight:bold;
}

#freezing:hover {
  transform: scale(0.95);
}

#chilly:hover {
  transform: scale(0.95);
}

#justright:hover {
  transform: scale(0.95);
}

#toasty:hover {
  transform: scale(0.95);
}

#onfire:hover {
  transform: scale(0.95);
}

footer {
  position: relative;
}

#logo {
  margin-left: 10px;
  margin-top: 10px;
  width: 20%;
  height: auto;
}
