<!doctype html>
<html>

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <!-- CSS Stylesheet -->
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'weather/WeatherApp.css' %}">
  <title>WeatherApp</title>
</head>
<body>
  <div id="logo"><img src="{% static "weather/svgGraphics/logotransluscent.svg" %}"></div>
  <div id="selection" class="">
    <div class="something d-flex flex-row justify-content-center">
      <div class="heightAdjuster">
      <div id="question"><p>How do you feel today?</p><div id="assurance"><p>(Please select one.)</p></div></div>
      <form class="d-flex flex-row" action="{% url 'weather:submission' %}" choice="" method="post">
        {% csrf_token %}
              <div id="freezing">
              <input type="image" src="{% static "weather/svgGraphics/FreezinglogowithShadow.svg" %}" alt="My image" name="0">
              <p class="Description">Freezing</p>
              </div>
              <div id="chilly">
              <input type="image" src="{% static "weather/svgGraphics/ChillylogowithShadow.svg" %}" alt="My image" name="1">
              <p class="Description">Chilly</p>
              </div>
              <div id="justright">
              <input type="image" src="{% static "weather/svgGraphics/JustRightlogowithShadow.svg" %}" alt="My image" name="2">
              <p class="Description">Just Right</p>
              </div>
              <div id="toasty">
              <input type="image" src="{% static "weather/svgGraphics/ToastylogowithShadow.svg" %}" alt="My image" name="3">
              <p class="Description">Toasty</p>
              </div>
              <div id="onfire">
              <input type="image" src="{% static "weather/svgGraphics/OnFirelogowithShadow.svg" %}" alt="My image" name="4">
              <p class="Description">On Fire</p>
              </div>
              </div>
            </div>
          </form>
          {% if error_message %}<p>{{error_message}}</p>{% endif %}
      </div>
    </div>
  </div>
  <!-- JavaScript: placed at the end of the document so the pages load faster -->
  		<!-- jQuery library -->
  		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

  		<!-- Popper -->
  		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

  		<!-- Latest compiled and minified Bootstrap JavaScript -->
  		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
