<!doctype html>
<html>

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <!-- CSS Stylesheet -->
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'weather/WeatherApp.css' %}">
  <title>WeatherApp</title>
</head>
<body>

  <!--
  <img src="{% static "weather/svgGraphics/Freezing.svg" %}" alt="My image">
  <img src="{% static "weather/svgGraphics/Chilly.svg" %}" alt="My image">
  <img src="{% static "weather/svgGraphics/JustRightlogo.svg" %}" alt="My image">
  <img src="{% static "weather/svgGraphics/Toastylogo.svg" %}" alt="My image">
  <img src="{% static "weather/svgGraphics/OnFirelogo.svg" %}" alt="My image">
  <img src="{% static "weather/svgGraphics/Sun.svg" %}" alt="My image">
  <img src="{% static "weather/svgGraphics/Moon.svg" %}" alt="My image">
  <img src="{% static "weather/svgGraphics/Cloud.svg" %}" alt="My image">
  <img src="{% static "weather/svgGraphics/CloudwithSnow.svg" %}" alt="My image">
  <img src="{% static "weather/svgGraphics/CloudwithRain.svg" %}" alt="My image">
-->

    <div class="row" id="rowOne">
      <div class="col-sm-3" id="column1">
        <div id="locationBox">
          <img src="{% static "weather/svgGraphics/LocationLogo.svg" %}" alt="My image">
          <span>Irvine, CA</spans>
        </div>
        <div id="statisticalValue">
          {% if user_voted == False %}
            <span>It's going to be</span>
            <!-- This button changes based on input-->
            <!-- <img src="{% static feeling_prediction_pic %}" alt="My image"> -->
            <!-- <span>{{feeling_prediction}} <br> -->
          {% else%}
            <span>You said today was</span>
            <img src="{% static weather_pic %}" alt="My image">
            <span>{{weather_mood}}<br>
            <p>{{user_data_count}}</p>
          {% endif %}
          <div id="disclaimer"><a href="comfortAsk/"> Were we wrong?<br>Help us improve our predictions.</a></span></div>
        </div>
      </div>
      <div class="col-sm-2" id="columnTwo">
        <!-- Temperature value is based on API -->
        <div id="temperature"><span> {{current_temperature|stringformat:".0f"}}&#176;F </span></div>
        <!-- Weather type image is based on API -->
        <div id="weatherType"><img src="{% static "weather/svgGraphics/Moon.svg" %}" alt="My image"></div>
        <!-- Wind speed value is based on API -->
        <div id="windSpeed"><span>{{current_wind_speed|stringformat:".0f"}} mph wind</span></div>
      </div>
      <div class="col-sm-7" id="columnThree">
        <div id="largeBox">
          <span> Suggested Layers</span> <img src="{% static suggested_clothing_1 %}" alt="My image"><img src="{% static suggested_clothing_2 %}" alt="My image">
          <p>{{blurb}}</p>
        </div>
      </div>
    </div>

    <div class="row" id="rowTwo">
      <div class="col-sm-12" id="columnThree">
        <div id="twelvehourForecast">
          <div class="scrollmenu">
            <div id="currentTimeplusOne"><span class='hourtime'>{{hours.0}}</span><br><span class='temp'>{{hourly_temps.0|stringformat:".0f"}}&#176;F</span></div>
            <div id="currentTimeplusTwo"><span class='hourtime'>{{hours.1}}</span><br><span class='temp'>{{hourly_temps.1|stringformat:".0f"}}&#176;F</span></div>
            <div id="currentTimeplusThree"><span class='hourtime'>{{hours.2}}</span><br><span class='temp'>{{hourly_temps.2|stringformat:".0f"}}&#176;F</span></div>
            <div id="currentTimeplusFour"><span class='hourtime'>{{hours.3}}</span><br><span class='temp'>{{hourly_temps.3|stringformat:".0f"}}&#176;F</span></div>
            <div id="currentTimeplusFive"><span class='hourtime'>{{hours.4}}</span><br><span class='temp'>{{hourly_temps.4|stringformat:".0f"}}&#176;F</span></div>
            <div id="currentTimeplusSix"><span class='hourtime'>{{hours.5}}</span><br><span class='temp'>{{hourly_temps.5|stringformat:".0f"}}&#176;F</span></div>
            <div id="currentTimeplusSeven"><span class='hourtime'>{{hours.6}}</span><br><span class='temp'>{{hourly_temps.6|stringformat:".0f"}}&#176;F</span></div>
            <div id="currentTimeplusEight"><span class='hourtime'>{{hours.7}}</span><br><span class='temp'>{{hourly_temps.7|stringformat:".0f"}}&#176;F</span></div>
            <div id="currentTimeplusNine"><span class='hourtime'>{{hours.8}}</span><br><span class='temp'>{{hourly_temps.8|stringformat:".0f"}}&#176;F</span></div>
            <div id="currentTimeplusTen"><span class='hourtime'>{{hours.9}}</span><br><span class='temp'>{{hourly_temps.9|stringformat:".0f"}}&#176;F</span></div>
            <div id="currentTimeplusEleven"><span class='hourtime'>{{hours.10}}</span><br><span class='temp'>{{hourly_temps.10|stringformat:".0f"}}&#176;F</span></div>
            <div id="currentTimeplusTwelve"><span class='hourtime'>{{hours.11}}</span><br><span class='temp'>{{hourly_temps.11|stringformat:".0f"}}&#176;F</span></div>
        </div>
        </div>
      </div>
    </div>



  <!-- JavaScript: placed at the end of the document so the pages load faster -->
  		<!-- jQuery library -->
  		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

  		<!-- Popper -->
  		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

  		<!-- Latest compiled and minified Bootstrap JavaScript -->
  		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>
