<!doctype html>
<html>

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <!-- CSS Stylesheet -->
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'weather/WeatherApp.css' %}">
  <title>WeatherApp</title>
</head>
<body>

  <!-- 
  <img src="{% static "weather/svgGraphics/Freezing.svg" %}" alt="My image">
  <img src="{% static "weather/svgGraphics/Chilly.svg" %}" alt="My image">
  <img src="{% static "weather/svgGraphics/JustRightlogo.svg" %}" alt="My image">
  <img src="{% static "weather/svgGraphics/Toastylogo.svg" %}" alt="My image">
  <img src="{% static "weather/svgGraphics/OnFirelogo.svg" %}" alt="My image">
  <img src="{% static "weather/svgGraphics/Sun.svg" %}" alt="My image">
  <img src="{% static "weather/svgGraphics/Moon.svg" %}" alt="My image">
  <img src="{% static "weather/svgGraphics/Cloud.svg" %}" alt="My image">
  <img src="{% static "weather/svgGraphics/CloudwithSnow.svg" %}" alt="My image">
  <img src="{% static "weather/svgGraphics/CloudwithRain.svg" %}" alt="My image"> 
-->

    <div class="row" id="rowOne">
      <div class="col-sm-3" id="column1">
        <div id="locationBox">
          <img src="{% static "weather/svgGraphics/LocationLogo.svg" %}" alt="My image">
          <span>Ex. Irvine CA</spans>
        </div>
        <div id="statisticalValue">
          <span>It's going to be</span>
          <!-- This button changes based on input-->
          <img src="{% static "weather/svgGraphics/JustRightlogo.svg" %}" alt="My image">
          <span>Just right.</span>
        </div>
      </div>
      <div class="col-sm-2" id="columnTwo">
        <!-- Temperature value is based on API -->
        <div id="temperature"><span> 61&#176;F </span></div>
        <!-- Weather type image is based on API -->
        <div id="weatherType"><img src="{% static "weather/svgGraphics/Moon.svg" %}" alt="My image"></div>
        <!-- Wind speed value is based on API -->
        <div id="windSpeed"><span>54mph</span></div>
      </div>
      <div class="col-sm-7" id="columnThree">
        <div id="largeBox"></div>
      </div>
    </div>

  <!-- JavaScript: placed at the end of the document so the pages load faster -->
  		<!-- jQuery library -->
  		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

  		<!-- Popper -->
  		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

  		<!-- Latest compiled and minified Bootstrap JavaScript -->
  		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>
