<!doctype html>
<html>

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- CSS Stylesheet -->
  <link rel="stylesheet" type="text/css" href="weatherApp.css">

  <title>WeatherApp</title>
</head>
<body>
  <object type="image/svg+xml" data="assets/svgGraphics/Freezing.svg">Your browser does not support SVG</object>
  <object type="image/svg+xml" data="assets/svgGraphics/Chilly.svg">Your browser does not support SVG</object>
  <object type="image/svg+xml" data="assets/svgGraphics/JustRightlogo.svg">Your browser does not support SVG</object>
  <object type="image/svg+xml" data="assets/svgGraphics/Toastylogo.svg">Your browser does not support SVG</object>
  <object type="image/svg+xml" data="assets/svgGraphics/OnFirelogo.svg">Your browser does not support SVG</object>
  <object type="image/svg+xml" data="assets/svgGraphics/Sun.svg">Your browser does not support SVG</object>
  <object type="image/svg+xml" data="assets/svgGraphics/Moon.svg">Your browser does not support SVG</object>
  <object type="image/svg+xml" data="assets/svgGraphics/Cloud.svg">Your browser does not support SVG</object>
  <object type="image/svg+xml" data="assets/svgGraphics/CloudwithSnow.svg">Your browser does not support SVG</object>
  <object type="image/svg+xml" data="assets/svgGraphics/CloudwithRain.svg">Your browser does not support SVG</object>
</body>

</html>
