html {
  background-color: #6277B1;
}

body {
    margin: 0;
}

object {
  width: 100px;
  height: 100px;
}

#location {
  position: relative;
    width: 25%;
    padding-bottom: 25%;
    overflow: hidden;
    background: #4679BD;
}
